.container {
  width: 300px;
  margin: 100px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: Arial,sans-serif;
  text-align: center;
  padding: 20px;
}

.titulo {
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 94%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.botao {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.mensagem {
  margin-top: 15px;
  font-weight: bold;
}
