.container {
  width: 300px;
  margin: 100px auto;
  border: 1px solid #ccc;
  border-radius: 10px;

  text-align: center;
  padding: 20px;
}

.titulo {
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.botao {
  padding: 6px;
  width: 266px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4b94f3;
}

.mensagem {
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
}
